/* Yu Gothic : Windows Full Name → Windows PostScript Name */
@font-face { font-family: "Yu Gothic"; src: local("Yu Gothic Medium"), local("YuGothic-Medium"); }
@font-face { font-family: "Yu Gothic"; src: local("Yu Gothic Bold"  ), local("YuGothic-Bold"  ); font-weight: bold; }
*, ::before, ::after { box-sizing: border-box; }
:root {
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, YuGothic, "Yu Gothic", "Noto Sans JP", "Noto Sans CJK JP", "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: "Noto Sans Mono CJK JP", Osaka-mono, "MS Gothic", Menlo, Consolas, Courier, "Courier New", monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-serif: Georgia, YuMincho, "Yu Mincho", "Noto Serif JP", "Noto Serif CJK JP", "Hiragino Mincho ProN", "HGS明朝E", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
  /* 共通利用するので `:root` で定義 */
  --thumbnail-width: 110px;
  --thumbnail-height: 90px;
}

html {
  height: 100%;
  overflow: hidden scroll;
  overflow-wrap: break-word;
  color: #212529;
  font-family: var(--font-family-sans-serif);
          text-decoration-skip-ink: none;  /* リンクの下線を常に表示する */
  -webkit-text-decoration-skip: objects ;  /* リンクの下線を常に表示する */
  word-break: break-all;
  line-height: 1.5;
  background: #fff;
  cursor: default;
  user-select: none;  /* テキスト選択をさせない */
  touch-action: manipulation;  /* ダブルタップによるズームなどを防ぐ (iOS は `auto` と `manipulation` しか対応していない) */
  -webkit-overflow-scrolling: touch;  /* スマホ向け慣性スクロール */
}

body {
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
}

p, form, ol {
  margin-top: 0;
  margin-bottom: 1rem;
}

li {
  margin-bottom: .25rem;
}


/* Text Box
 * ================================================================================ */

input[type="text"], input[type="password"] {
  height: calc(1.5em + 0.75rem + 2px);
  outline: 0;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  padding: 0.375rem 0.75rem;
  color: #495057;
  font-size: 16px;  /* iOS でズームされないように固定する */
  font-family: var(--font-family-monospace);
  line-height: 1.5;
  vertical-align: middle;
  background: #fff;
  transition: border-color .12s, box-shadow .12s;
  user-select: element;  /* この要素内に限りテキスト選択させる */
}
  input[type="text"    ]:hover, input[type="text"    ]:focus,
  input[type="password"]:hover, input[type="password"]:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
  }


/* Button
 * ================================================================================ */

button {
  outline: 0;
  border: 1px solid transparent;
  border-radius: .25rem;
  padding: .375rem .75rem;
  color: #fff;
  font-size: 16px;  /* テキストボックスと高さを揃える */
  line-height: 1.5;
  vertical-align: middle;
  background: transparent;
  cursor: pointer;
  transition: color .12s, border-color .12s, background .12s;
}
  /* 非活性時 */
  button:disabled {
    opacity: .65;
    cursor: not-allowed;
  }

/* 通常ボタン */
button.button-info {
  border-color: #007bff;
  background  : #007bff;
}
  button.button-info:hover {
    border-color: #0069d9;
    background  : #0069d9;
  }

/* 危険ボタン */
button.button-danger {
  border-color: #e72437;
  background  : #e72437;
}
  button.button-danger:hover {
    border-color: #c31526;
    background  : #c31526;
  }

/* ボタンサイズを少し小さくする */
button.button-smaller {
  padding: .25rem .75rem;
  font-size: .875rem;
}


/* Form
 * ================================================================================ */

/* 1行フォーム用 : テキストボックス・ボタン・ボタンの並び */
form.form-one-line {
  display: grid;
  grid-template-columns: 1fr auto auto;
  column-gap: .5rem;
}
  form.form-one-line button:last-of-type {
    margin-left: .75rem;
  }


/* Entry
 * ================================================================================ */

/* `HomeComponent` と `NgUrlsComponent` で共用のためココに記載
 * `entry-remove` は `HomeComponent` のみで使用するが `grid-template` 定義に出てきていても特に問題なし */
.entry {
  --colour-no-image-background: #e5e8e9;
  
  display: grid;
  grid-template: "entry-thumbnail entry-info" auto
                 "entry-remove    entry-info" auto
                 "entry-remove    entry-meta" auto
                / var(--thumbnail-width) 1fr;
  column-gap: .5rem;
  padding-bottom: .75rem;
  border-bottom: 1px solid #e5e8e9;
  margin-bottom: .75rem;
}
  /* 右利きモード (`styles.css` では `:host-context` が効かないので注意) */
  .right-hand-mode .entry {
    grid-template: "entry-info entry-thumbnail" auto
                   "entry-info entry-remove   " auto
                   "entry-meta entry-remove   " auto
                  / 1fr        var(--thumbnail-width);
  }

/* 記事タイトル・ファビコン・本文 */
.entry-info {  /* a */
  grid-area: entry-info;
  
  color: #007bff;  /* 記事タイトルのリンク色 */
}
  .entry-info:hover {
    color: #0056b3;
  }
  
  /* 記事タイトル */
  .entry-info-title {
    font-weight: bold;
  }
    /* 画面幅が狭い時：3行で省略表示する */
    @media (max-width: 575.98px) {
      .entry-info-title {
        --font-size  : .9rem;
        --line-height: 1.3;
        
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;  /* 3行 */
        overflow: hidden;
        max-height: calc(var(--line-height) * 3.5em);  /* 3行分少し余裕もたせる */
        font-size: var(--font-size);
        line-height: var(--line-height);
      }
    }
    
    /* ファビコン */
    .entry-info-title-favicon {
      display: inline-block;
      width: 16px;
      height: 16px;
      vertical-align: text-top;
    }
      .entry-info-title-favicon img {
        width: 16px;
        height: 16px;
        background: var(--colour-no-image-background);
      }
  
  /* 記事本文 */
  .entry-info-description {
    padding-top: .25rem;  /* タイトルとの隙間・突っ張り棒 */
    color: #6c757d;
  }
    /* 画面幅が狭い時：3行で省略表示する */
    @media (max-width: 575.98px) {
      .entry-info-description {
        --font-size  : .8rem;
        --line-height: 1.3;
        
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;  /* 3行 */
        overflow: hidden;
        max-height: calc(var(--line-height) * 4em);  /* 3行分・ブラウザで確認したら切れたので少し余裕もたせる */
        font-size: var(--font-size);
        line-height: var(--line-height);
      }
    }

/* メタ情報 */
.entry-meta {
  grid-area: entry-meta;
  
  padding-top: .25rem;  /* 記事本文との隙間・突っ張り棒 */
  font-size: .9rem;
  line-height: 1;
}
  /* 画面幅が狭い時：文字サイズを小さくする */
  @media (max-width: 575.98px) {
    .entry-meta {
      font-size: .8rem;
    }
  }
  
  /* ブクマ数 */
  .entry-meta-count {  /* a */
    margin-right: .5rem;  /* 日時との隙間 */
    color: #eb5269;
  }
    .entry-meta-count-container {  /* span */
      display: inline-block;
      width: 2.75em;  /* 桁ズレ防止・4桁まで */
      text-align: right;
      white-space: nowrap;
    }
  
  /* 日時 */
  .entry-meta-date {
    color: #bbb;
  }

/* サムネイル */
.entry-thumbnail {  /* div */
  grid-area: entry-thumbnail;
}
  .entry-thumbnail, .entry-thumbnail img {
    width: var(--thumbnail-width);
    height: var(--thumbnail-height);
    background: var(--colour-no-image-background);
  }
