<app-loading *ngIf="isLoading$ | async"></app-loading>
<app-error *ngIf="error$ | async as error" [error]="error"></app-error>

<ng-container *ngIf="(isLoading$ | async) !== true && (ngWords$ | async) as ngWords">
  <form class="form-one-line" [formGroup]="form" (ngSubmit)="create()">
    <input type="text" placeholder="NG ワードを追加" formControlName="word">
    <button type="submit" class="button-info" [disabled]="form.invalid">登録</button>
    <button type="button" class="button-info" (click)="reloadAll()">再読込</button>
  </form>
  
  <app-warning *ngIf="ngWords.length === 0" [message]="'表示できる情報はありません。'"></app-warning>
  
  <ng-container *ngIf="ngWords.length">
    <p>全 {{ ngWords.length }} 件</p>
    <ol>
      <li *ngFor="let ngWord of ngWords">
        <button type="button" class="button-danger button-smaller" (click)="remove(ngWord.id)">削除</button>
        {{ ngWord.word }}
      </li>
    </ol>
  </ng-container>
</ng-container>
