<app-loading *ngIf="isLoading$ | async"></app-loading>
<app-error *ngIf="error$ | async as error" [error]="error"></app-error>

<ng-container *ngIf="(isLoading$ | async) !== true && (ngDomains$ | async) as ngDomains">
  <form class="form-one-line" [formGroup]="form" (ngSubmit)="create()">
    <input type="text" placeholder="NG ドメインを追加" formControlName="domain">
    <button type="submit" class="button-info" [disabled]="form.invalid">登録</button>
    <button type="button" class="button-info" (click)="reloadAll()">再読込</button>
  </form>
  
  <app-warning *ngIf="ngDomains.length === 0" [message]="'表示できる情報はありません。'"></app-warning>
  
  <ng-container *ngIf="ngDomains.length">
    <p>全 {{ ngDomains.length }} 件</p>
    <ol>
      <li *ngFor="let ngDomain of ngDomains">
        <button type="button" class="button-danger button-smaller" (click)="remove(ngDomain.id)">削除</button>
        {{ ngDomain.domain }}
      </li>
    </ol>
  </ng-container>
</ng-container>
