<app-loading *ngIf="isLoading$ | async"></app-loading>
<app-error *ngIf="error$ | async as error" [error]="error"></app-error>

<ng-container *ngIf="(isLoading$ | async) !== true && category">
  <div class="entries-info">
    <span class="entries-info-count">{{ category.entries == null ? '0' : category.entries.length }}</span> 件
    ({{ category.updatedAt | isoToJst }} クロール)
  </div>
  
  <app-warning *ngIf="category.entries == null || category.entries.length === 0" [message]="'表示できる記事はありません。'"></app-warning>
  
  <ng-container *ngIf="category.entries != null && category.entries.length">
    <div class="entry" *ngFor="let entry of category.entries; index as i">
      <a class="entry-info" target="_blank" rel="noreferrer noopener" [href]="entry.url">
        <div class="entry-info-title">
          <span class="entry-info-title-favicon">
            <img *ngIf="entry.faviconUrl" [src]="entry.faviconUrl">
          </span>
          {{ entry.title }}
        </div>
        <div class="entry-info-description">
          {{ entry.description }}
        </div>
      </a>
      
      <div class="entry-meta">
        <a href="{{ entry.url | hatebuUrl }}" target="_blank" rel="noreferrer noopener" class="entry-meta-count">
          <span class="entry-meta-count-container">{{ entry.count }}</span> Users
        </a>
        <span class="entry-meta-date">{{ entry.date | slashToHyphen }}</span>
      </div>
      
      <div class="entry-thumbnail">
        <img *ngIf="entry.thumbnailUrl" [src]="entry.thumbnailUrl">
      </div>
      <div class="entry-remove">
        <button type="button" accesskey="d" *ngIf="i === 0" (click)="removeEntry(i, entry)">削除する</button>
        <button type="button"               *ngIf="i !== 0" (click)="removeEntry(i, entry)">削除する</button>
      </div>
    </div>
  </ng-container>
  
  <div class="control-buttons">
    <div class="control-buttons-left">
      <button type="button" accesskey="f" (click)="moveNext(category.id)">次へ</button>
      <button type="button" (click)="reloadById(category.id)">再読込</button>
      <button type="button" (click)="reloadAll(category.id)">全カテゴリ再読込</button>
    </div>
    <div class="control-buttons-right">
      <button type="button" accesskey="s" (click)="movePrev(category.id)">前へ</button>
      <button type="button" (click)="scrapeById(category.id)">更新</button>
      <button type="button" (click)="scrapeAll(category.id)">全カテゴリ更新</button>
    </div>
  </div>
</ng-container>
